body {
  padding: 10px;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

ol, li{
  list-style: none;
}

button {
  width:35px;
  height:18px;
  vertical-align: middle;
  background: #ccc;
  border: 0 none;
  font-size:11px;
}
button:after {
  content: "버튼";
}